---
import Layouts from '../layouts/Layout.astro';
import '../styles/global.css';
---

<Layouts title="BENEFITS">
    <main>

        <div class="txt1">
            <p>
                A  Few <b><i>FOSS</i></b> Alternatives To Common Applications:
            </p>
        </div>
        <div class="grid">
            <div class="grid-item">
                <div class ="card">
                    <img class="card-img" src="src/images/libreoffice.png" alt="libre"/>
                    <div class="card-content">
                        <h1 class="card-header">LibreOffice</h1>
                            <p class="card-text">
                               A free and open source alternative to Microsoft Office, LibreOffice provides a suite of productivity tools, including a word processor, spreadsheet software, and presentation software.
                            </p>
                            <button class="card-btn">
                               <a href="https://www.libreoffice.org">Know more<span>&rarr;</span></a>
                            </button>
                    </div>
                </div>
            </div>
            <div class="grid-item">
                <div class ="card">
                    <img class="card-img" src="src/images/gimp.jfif" alt="GIMP"/>
                    <div class="card-content">
                        <h1 class="card-header">GIMP</h1>
                            <p class="card-text">
                                A free and open source alternative to Adobe Photoshop, GIMP is a powerful image editing tool that provides advanced features such as layers, masks, and filters.
                            </p>
                            <button class="card-btn">
                               <a href="https://www.gimp.org" >Know more<span>&rarr;</span></a>
                            </button>
                    </div>
                </div>
            </div>
            <div class="grid-item">
                <div class ="card">
                    <img class="card-img" src="src/images/inkscape.png" alt="Inkscape"/>
                    <div class="card-content">
                        <h1 class="card-header"> Inkscape</h1>
                            <p class="card-text">
                                A free and open source alternative to Adobe Illustrator, Inkscape is a vector graphics editor that allows users to create and edit illustrations, diagrams, and other graphics.
                            </p>
                            <button class="card-btn">
                                <a href="https://inkscape.org">Know more<span>&rarr;</span></a>
                            </button>
                    </div>
                </div>
            </div>

            <div class="grid-item">
                <div class ="card">
                    <img class="card-img" src="src/images/firefox.jfif" alt="Firefox"/>
                    <div class="card-content">
                        <h1 class="card-header">FIREFOX</h1>
                            <p class="card-text">
                                A free and open source alternative to Google Chrome, Firefox is a popular web browser that provides a range of features, including privacy protections, customizable themes, and add-ons.
                            </p>
                            <button class="card-btn">
                                <a href="https://www.mozilla.org/en-US/firefox">Know more<span>&rarr;</span></a>
                            </button>
                    </div>
                </div>
            </div>
            <div class="grid-item">
                <div class ="card">
                    <img class="card-img" src="src/images/blender.png" alt="Blender"/>
                    <div class="card-content">
                        <h1 class="card-header">BLENDER</h1>
                            <p class="card-text">
                                A free and open source alternative to Autodesk Maya, Blender is a 3D animation and modeling tool that allows users to create sophisticated animations and visual effects.
                            </p>
                            <button class="card-btn">
                                <a href="https://www.blender.org">Know more<span>&rarr;</span></a>
                            </button>
                    </div>
                </div>
            </div>
            <div class="grid-item">
                <div class ="card">
                    <img class="card-img" src="src/images/vlc.jfif" alt="VLC"/>
                    <div class="card-content">
                        <h1 class="card-header">VLC</h1>
                            <p class="card-text">
                                A free and open source alternative to Windows Media Player, VLC is a versatile media player that can play a wide range of audio and video formats.
                            </p>
                            <button class="card-btn">
                                <a href="https://www.videolan.org/vlc">Know more<span>&rarr;</span></a>
                            </button>
                    </div>
                </div>
            </div>
            

        </div>

        <div class="Benefits">
            <div class="txt1">
                <p>
                    Benefits of <b><i>FOSS</i></b> over Propietrary Software:
                </p>
            </div>
            <div class="benefits">
                <div class="outer">
                  <div class="cards">
                    <div class="info">
                      <h3 class="title">Cost</h3>
                      <p>FOSS is often free to use, which can significantly reduce the costs associated with acquiring and maintaining software. In contrast, proprietary software can be expensive to purchase, upgrade, and maintain.
                    </p>
                    </div>
                  </div>
                  <div class="cards">
                    <div class="info">
                      <h3 class="title">Customization</h3>
                      <p>Because the source code for FOSS is openly available, users can modify it to suit their specific needs. This level of customization is not possible with proprietary software, which typically limits the ability to modify or enhance the software.</p>
                    </div>
                  </div>
                  <div class="cards">
                    <div class="info">
                      <h3 class="title">Security</h3>
                      <p>FOSS is often more secure than proprietary software, as it is subject to constant peer review and scrutiny. Vulnerabilities and bugs can be identified and addressed quickly, reducing the risk of exploitation. In contrast, proprietary software may have hidden vulnerabilities that are not discovered until they are exploited.</p>
                    </div>
                  </div>
                  <div class="cards">
                    <div class="info">
                      <h3 class="title">Community</h3>
                      <p>FOSS is often developed and maintained by a community of volunteers who are passionate about the software. This community can provide support, offer advice, and create a sense of camaraderie that is not found with proprietary software. </p>
                    </div>
                  </div>
                  <div class="cards">
                    <div class="info">
                      <h3 class="title">Longevity</h3>
                      <p>FOSS is not dependent on the success or failure of a single company or organization. This means that the software will likely be available and supported for as long as people find it useful. In contrast, proprietary software can be discontinued if the company that produces it goes out of business or decides to stop supporting it.</p>
                    </div>
                  </div>
                  <div class="cards">
                    <div class="info">
                      <h3 class="title">Interoperability</h3>
                      <p>FOSS is often designed to be compatible with a wide range of platforms and systems, making it easier to integrate with other software and technologies. This can lead to increased interoperability and flexibility in a variety of settings.</p>
                    </div>
                  </div>
                  <div class="cards">
                    <div class="info">
                      <h3 class="title">Transparency</h3>
                      <p>FOSS is typically developed in an open and transparent manner, which allows users to review the source code and understand how the software works. This level of transparency can provide reassurance that the software is behaving as intended, and can also help users identify and address potential issues.</p>
                    </div>
                  </div>
                  <div class="cards">
                    <div class="info">
                      <h3 class="title">Innovation</h3>
                      <p>FOSS is often developed by a diverse group of contributors who bring a wide range of skills, experiences, and perspectives to the project. This can lead to increased innovation and creativity, as new ideas and approaches are explored</p>
                    </div>
                  </div>
                  <div class="cards">
                    <div class="info">
                      <h3 class="title">Legal rights</h3>
                      <p>FOSS licenses often provide users with legal rights that are not available with proprietary software. For example, many FOSS licenses allow users to redistribute the software, modify it, and use it for any purpose they choose, without being subject to restrictive licensing terms or fees.</p>
                    </div>
                  </div>
                  <div class="cards">
                    <div class="info">
                      <h3 class="title">Ethical consideration</h3>
                      <p>Some users choose to use FOSS for ethical reasons, as they believe that software should be freely available and accessible to all. This can be particularly important in areas such as education, where access to software can be a barrier to learning and innovation.</p>
                    </div>
                  </div>

                </div>
              </div>
        </div>

    </main>

</Layouts>

<style>

    *{
        margin: 0;
        padding: 0;
    }
    html{
        box-sizing: border-box;
        font-size:62.5%;
    }

    body{
        background-color: #0f1a2b;
        diplay: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }

    .txt1{
        font-size: 50px;
        text-align: center;
    }

    .grid{
        display: grid;
        width:90%;
        grid-gap: 8rem;
        grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
        align-items: start;
        margin-left:60px;
    }

    .grid-item {
        border-radius: 4rem;
        overflow: hidden;
        box-shadow: 0 3rem 6rem rgb(0,0,0,0.1);
        cursor: pointer;
        transition: 0.2s;
    }

    .grid-item:hover{
        transform: translateY(-0.5%);
        box-shadow: 0 4rem 8rem #033147;
    }

    .card-img{
        display: block;
        width: 100%;
        height: 30rem;
        object-fit:fill;
    }

    .card-content{
        padding: 3rem;
    }

    .card-header{
        font-size: 3rem;
        font-weight: 500;
        colour: #0d0d0d;
        margin-bottom: 1.5rem;
    }

    .card-text{
        font-size: 1.6rem;
        letter-spacing: 0.1rem;
        line-height: 1.7;
        colour: #3d3d3d;
        margin-bottom: 2.5rem;
    }

    .card-btn{
        display: block;
        width: 100%;
        padding: 1.5rem;
        font-size: 2rem;
        text-align: center;
        color: #a8d4eb;
        background-color: #0f1a2b;
        border: none;
        border-radius: 0.4rem;
        transition: 0.2s;
        cursor: pointer;
        letter-spacing: 0.1rem;
    }



    .card-btn span{
        margin-left: 1rem;
        transition: 0.2s;
    }

    .card-btn:hover,
    .card-btn:active{
        background-color: #033147;
    }

    .card-btn:hover span,
    .card-btn:active span{
        margin-left: 1.5rem;
    }

    @media only screen and (max-width: 60em){
        body{
            padding: 3rem;
        }

        .grid{
            grid-gap: 3rem;
        }
    }

.benefits {
  background: var(--primary-color);
  margin: 10px 10px;
  padding: 20px;
  text-align: center;
}

.outer {
  border-left: 3px solid #f2bb1a;
}

.outer {
  border-right: 3px solid #f2bb1a;
}


.cards {
  position: relative;
  margin: 10px 10px 20px 20px;
  padding: 10px;
  background: #033147;
  color: #a8d4eb;
  border-radius: 8px;
  max-width: 1500px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  color: #f2bb1a;
  position: relative;
 
}



</style>