---
import '../styles/global.css';
import Layout from '../layouts/Layout.astro';
import card from'../images/fosscard.jpg';

---

<Layout title="FOSS">
	<main>
		<div class="txt">
			<h1>SO,<br>WHAT <br>IS</h1>
			
		</div>
		<div class="main-div">
            <div class="card">
                <div class="imgbox">
                    <img src={card} alt="">
                </div>
                <div class="content">
                   
                    <p>FOSS stands for "Free and Open Source Software." It refers to software that is distributed under a license that allows users to run, modify, and distribute the software without having to pay licensing fees or obtain permission from the original creator.Free and Open Source Software is typically developed by a community of programmers who collaborate on the code, often contributing their own improvements and fixes.This approach allows for a more transparent and decentralized development process, which can lead to more secure, stable, and innovative software.Some of the most popular examples of FOSS include the Linux operating system, the Apache web server, and the LibreOffice productivity suite.
                        </p>
                </div>
            </div>
        </div>


       
	</main>
</Layout>

<style>

	.txt{
		font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    	font-size: 55px;
        text-align: center;
		
	}

	.card {
    margin: 0 2rem 0 2rem;
    position: relative;
    width: 1000px;
    height: 300px;
    border-radius: 10px;
    
    padding: 30px;
    transition: .3s;
    background-color: #0f1a2b;
    cursor: pointer;
}

.card:hover {
    height: 350px;
    transition: .3s;
}

.card:hover .content {
    transform: translateY(-170px);
    opacity: 1;
}

.imgbox {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 99;
}

img {
    width: 100%;
    border-radius: 10px;
    
    transform: translateY(-80px);
}

.content {
    transition: .3s;
    transform: translateY(-350px);
    text-align: center;
    opacity: 0;
}

.content h2 {
    margin-bottom: 0.3rem;
}

.main-div {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}


</style>
