---
import logo from'.../images/FOSS.jpg';
---

<header class="header">
    <div class="container">
      <div class="logo">
        <a href="index.html">
          <img src="src/images/logo.png" alt="" />
        </a>
      </div>
      <nav>
        <ul>
          <li><a href="/">HOME</a></li>
          <li><a href="/history">HISTORY</a></li>
          <li><a href="/benefits">BENEFITS</a></li>
        </ul>
      </nav>
    </div>
  </header>

<style>
    .header {
  height: 150px;
  background-image: url(src/images/FOSS.jpg);
}

.header .container {
  height: 100%;
  display: flex;
  align-items:center;
  justify-content: space-between;
  padding: 0 20px;
}




.header ul {
  display: flex;
  text-align: right;
  
}

.header  ul li {
  padding: 0 20px;
  align-items: right;
}

.header  ul li a {
  color: #fff;
}
</style>